*.bak
*.swp
*.tmp
.gradle/
.vscode/
.idea/
tools/docker/reports/
build/
tmp/
target/
logs/
libs/
metric_monitor/datadir
private_net/datadir
datadir/
logs/
output-directory/
tron-docker.iml
bin/

trond
!trond/
.DS_Store
go
gopath
go1.*
*FullNode_output-directory*
*.pub

/single_node/output-directory/
/metric_monitor/logs/
/private_net/logs/
/logs_monitor/loki-data/
/logs_monitor/minio/
/logs_monitor/promtail-data/
/metric_monitor/prometheus_data/
/metric_monitor/receive-data/
/metric_monitor/minio/
/metric_monitor/helm-charts/thanos-receive/charts/
/metric_monitor/helm-charts/thanos-receive/Chart.lock
/metric_monitor/store-data/
/metric_monitor/grafana_data/
