*.bak
*.swp
*.tmp
.gradle/
.vscode/
.idea/
tools/docker/reports/
build/
tmp/
target/
logs/
libs/
metric_monitor/datadir
private_net/datadir
datadir/
logs/
output-directory/
tron-docker.iml
bin/

trond
!trond/
.DS_Store
go
go1.*
*FullNode_output-directory*

/single_node/output-directory/
/metric_monitor/logs/
/private_net/logs/
